.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.badgeDefault {
    background-color: var(--badge-color-default);
    color: var(--text-color);
}

.badgePrimary {
    background-color: var(--badge-color-primary);
    color: var(--text-color-inverted);
}

.badgeImportant {
    background-color: var(--badge-color-important);
    color: var(--text-color-inverted);
}

.badgeBenign {
    background-color: var(--badge-color-benign);
    color: var(--badge-text-color-benign);
    border: 0.125rem solid var(--badge-border-color-benign);
    font-weight: 500;
}

.badgeMalignant {
    background-color: var(--badge-color-malignant);
    color: var(--badge-text-color-malignant);
    border: 0.125rem solid var(--badge-border-color-malignant);
    font-weight: 500;
}
