.container {
    padding: 2.5rem 1rem;
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.uploadArea {
    display: flex;
    gap: 1rem;
    box-shadow: 0 0 10px var(--neutral-300-a);
    padding: 0.5rem;
    align-items: center;
    border: 0.0625rem var(--neutral-300);
}

.uploadIcon {
    margin-top: -0.25rem;
}

.fileLabel {
    position: relative;
    background-color: var(--default-button-background);
    color: var(--default-button-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.fileLabel:hover,
.fileLabel:active {
    background-color: var(--default-button-background-hover);
}

.fileInput {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    padding: 0;
}

.fileName {
    flex-grow: 1;
}

.analysisSection {
    display: flex;
    gap: 1rem;
}

.deleteSkinLesionArea {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 0.0625rem solid var(--border-color-light);
    padding: 1rem;
}

.fileSize {
    flex-grow: 1;
    color: var(--subtle-link-color);
}

.resultItem {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.badge {
    display: flex;
    width: 104px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 630px;
    }
}
