@import url("fonts.css");
@import url("colors.css");
@import url("tokens.css");

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: "Roboto", ui-sans-serif, -apple-system, system-ui, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.12em;
    word-spacing: 0.16em;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    max-width: 1260px;
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--text-color);
}

button {
    cursor: pointer;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", ui-sans-serif, -apple-system, system-ui, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.12rem;
}

a:focus,
button:focus,
input:focus {
    outline: 0.1875rem solid var(--outline-color);
    border-radius: 0.25rem;
}

label {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--label-color);
}

input {
    background-color: var(--input-background);
    border: 0.0625rem solid var(--input-border);
    border-radius: 0.25rem;
    color: var(--input-color);
    padding: 0.75rem;
}
