:root {
    --text-color: var(--neutral-1000);
    --text-color-inverted: var(--neutral-100);
    --text-color-error: var(--red-800);
    --text-color-success: var(--green-800);
    --text-color-warning: var(--yellow-900);
    --background-color: var(--neutral-100);
    --background-color-accent: var(--neutral-200);
    --background-color-level-3: var(--neutral-300);
    --navigation-background: var(--neutral-400);
    --outline-color: var(--brand-600);
    --default-link-color: var(--brand-700);
    --default-link-color-active: var(--brand-800);
    --default-link-color-visited: var(--brand-1000);
    --subtle-link-color: var(--neutral-800);
    --subtle-link-color-active: var(--neutral-900);
    --subtle-link-color-visited: var(--brand-1000);
    --sleek-link-color: var(--neutral-1000);
    --sleek-link-color-active: var(--neutral-900);
    --sleek-link-color-visited: var(--brand-1000);
    --footer-background: var(--neutral-500);

    --border-color: var(--neutral-700);
    --border-color-light: var(--neutral-600);

    --label-color: var(--neutral-800);
    --input-color: var(--neutral-800);
    --required-indicator: var(--red-800);
    --input-border: var(--neutral-800);
    --input-background: var(--neutral-100);
    --default-button-color: var(--neutral-1000);
    --default-button-background: var(--neutral-200-a);
    --default-button-background-hover: var(--neutral-300-a);
    --default-button-background-active: var(--neutral-400-a);
    --default-button-background-disabled: var(--neutral-100-a);
    --default-button-color-disabled: var(--neutral-400-a);

    --primary-button-color: var(--neutral-100);
    --primary-button-background: var(--brand-700);
    --primary-button-background-hover: var(--brand-800);
    --primary-button-background-active: var(--brand-900);
    --primary-button-focus-outline: var(--brand-1000);

    --secondary-button-color: var(--neutral-1000);
    --secondary-button-background: transparent;
    --secondary-button-background-hover: var(--neutral-200-a);
    --secondary-button-background-active: var(--neutral-300-a);

    --warning-button-color: var(--neutral-1000);
    --warning-button-background: var(--yellow-700);
    --warning-button-background-hover: var(--yellow-800);
    --warning-button-background-active: var(--yellow-900);

    --danger-button-color: var(--neutral-100);
    --danger-button-background: var(--red-700);
    --danger-button-background-hover: var(--red-800);
    --danger-button-background-active: var(--red-900);

    --divider-color: var(--neutral-800);

    --active-list-item-background: var(--neutral-200-a);

    --border-color-brand: var(--brand-700);

    --input-radio-checked: var(--brand-700);

    --badge-color-default: var(--neutral-200-a);
    --badge-color-primary: var(--brand-700);
    --badge-color-important: var(--red-800);
    --badge-color-benign: var(--green-200);
    --badge-text-color-benign: var(--green-800);
    --badge-border-color-benign: var(--green-800);
    --badge-color-malignant: var(--red-200);
    --badge-text-color-malignant: var(--red-800);
    --badge-border-color-malignant: var(--red-800);
}

body[dark-mode] {
    --text-color: var(--dark-neutral-1000);
    --text-color-inverted: var(--dark-neutral-100);
    --text-color-error: var(--red-400);
    --text-color-success: var(--green-300);
    --text-color-warning: var(--yellow-400);
    --background-color: var(--dark-neutral-100);
    --background-color-accent: var(--dark-neutral-200);
    --background-color-level-3: var(--dark-neutral-300);
    --navigation-background: var(--dark-neutral-300);
    --outline-color: var(--brand-500);
    --default-link-color: var(--brand-400);
    --default-link-color-active: var(--brand-300);
    --default-link-color-visited: var(--brand-200);
    --subtle-link-color: var(--dark-neutral-800);
    --subtle-link-color-active: var(--dark-neutral-900);
    --subtle-link-color-visited: var(--brand-200);
    --sleek-link-color: var(--dark-neutral-1000);
    --sleek-link-color-active: var(--dark-neutral-900);
    --sleek-link-color-visited: var(--brand-200);
    --footer-background: var(--dark-neutral-200);
    --border-color: var(--dark-neutral-700);
    --border-color-light: var(--dark-neutral-600);
    --label-color: var(--dark-neutral-800);
    --input-color: var(--dark-neutral-800);
    --required-indicator: var(--red-400);
    --input-border: var(--dark-neutral-800);
    --input-background: var(--dark-neutral-100);
    --default-button-color: var(--dark-neutral-1000);
    --default-button-background: var(--dark-neutral-100-a);
    --default-button-background-hover: var(--dark-neutral-300-a);
    --default-button-background-active: var(--dark-neutral-400-a);
    --default-button-background-disabled: var(--dark-neutral-100-a);
    --default-button-color-disabled: var(--dark-neutral-400-a);

    --primary-button-color: var(--dark-neutral-100);
    --primary-button-background: var(--brand-400);
    --primary-button-background-hover: var(--brand-300);
    --primary-button-background-active: var(--brand-200);
    --primary-button-focus-outline: var(--brand-100);

    --secondary-button-color: var(--dark-neutral-100-a);
    --secondary-button-background: transparent;
    --secondary-button-background-hover: var(--dark-neutral-100-a);
    --secondary-button-background-active: var(--dark-neutral-300-a);

    --warning-button-color: var(--dark-neutral-100);
    --warning-button-background: var(--yellow-400);
    --warning-button-background-hover: var(--yellow-300);
    --warning-button-background-active: var(--yellow-200);

    --danger-button-color: var(--dark-neutral-100);
    --danger-button-background: var(--red-400);
    --danger-button-background-hover: var(--red-300);
    --danger-button-background-active: var(--red-200);

    --divider-color: var(--dark-neutral-800);

    --active-list-item-background: var(--dark-neutral-200-a);

    --border-color-brand: var(--brand-400);

    --input-radio-checked: var(--brand-400);

    --badge-color-default: var(--dark-neutral-200-a);
    --badge-color-primary: var(--brand-400);
    --badge-color-important: var(--red-300);
    --badge-color-benign: var(--green-1000);
    --badge-text-color-benign: var(--green-500);
    --badge-border-color-benign: var(--green-500);
    --badge-color-malignant: var(--red-1000);
    --badge-text-color-malignant: var(--red-400);
    --badge-border-color-malignant: var(--red-400);
}
