.pageContainer {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.greeting {
    font-size: 1.125rem;
    line-height: 1.688rem;
}

.content {
    display: flex;
    gap: 5rem;
}

.subNavigation {
    max-width: 227px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.informationContainer,
.passwordContainer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-color-level-3);
}

.userInformation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.updateDataButton {
    height: fit-content;
    justify-self: start;
}

.fieldsetTheme {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.warningMessage {
    background-color: var(--yellow-300);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--yellow-1000);
    border-radius: 0.25rem;
}

.themeForm {
    display: flex;
    flex-direction: column;
}

.passwordContainer {
    flex-direction: column;
}

.passwordInformation {
    display: flex;
    justify-content: space-between;
}

.passwordHint {
    color: var(--yellow-1000);
}

.deleteAccountButton {
    width: fit-content;
}

.inputFields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.labelInput {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.required {
    color: var(--required-indicator);
}

.passwordPolicies {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.passwordPolicy {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.passwordPolicyIndicator {
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 50%;
    background-color: var(--input-color);
    margin-left: 0.125rem;
}

.defaultText {
    color: var(--input-color);
}

.errorText {
    color: var(--text-color-error);
}

.successText {
    color: var(--text-color-success);
}
