.container {
    display: flex;
    flex-direction: column;
}

.article {
    padding: 4rem 0;
    background-color: var(--background-color);
    width: 100%;
}

.article:first-of-type {
    padding-top: 1rem;
}

.article:nth-of-type(even) {
    background-color: var(--background-color-level-2);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1260px;
    width: 100%;
    margin: auto;
}

.valuesArticle {
    display: flex;
    gap: 4rem;
}

.valueSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
