.passwordPolicies {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.passwordPolicies.passwordEmpty svg {
    fill: var(--input-color) !important;
}

.passwordPolicies.passwordEmpty strong {
    color: var(--input-color);
}
