.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--footer-background);
    width: 100%;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.footerSection,
.footerSectionGrow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerSectionGrow {
    flex-grow: 1;
    min-width: fit-content;
}

.linkList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footerLink {
    color: var(--footer-color) !important;
}

@media screen and (min-width: 768px) {
    .footerContent {
        flex-direction: row;
    }

    .linkList {
        flex-direction: row;
    }
}
