.container {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: disc;
    margin: 0.5rem 2rem;
}

.accessibilitySection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.principle {
    margin-top: 2.5rem;
}

.guideline {
    margin-top: 1.5rem;
}

.headingAndBadge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
