.list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 1rem 0;
}

.separator {
    color: var(--subtle-link-color);
    margin-left: 0.5rem;
}

.currentItem {
    color: var(--subtle-link-color);
    text-decoration: underline;
    text-decoration-color: var(--subtle-link-color);
}
